.add-toy-container {
  margin: 100px auto;
  padding: 2rem 1.5rem;
  border: 1px solid var(--primary-sky-700);
  border-radius: 4px;
  background-color: var(--primary-sky-900);
  max-inline-size: 700px;
}

@media (max-width: 768px) {
  .add-toy-container {
    padding: 2rem 0.8rem;
  }
}

.add-toy-container .add-title {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 0.1rem 1rem;
  border-bottom: 2px dotted var(--primary-sky-100);
  font-size: 2rem;
  font-weight: 400;
  color: var(--primary-sky-100);
}
.add-toy-container .control {
  display: flex;
  flex-direction: column;
}

.add-toy-container .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-block-end: 1.5rem;
}

@media (max-width: 768px) {
  .add-toy-container .row {
    grid-template-columns: 1fr;
  }
}

.add-toy-container label {
  font-size: 1.1rem;
  color: var(--primary-sky-100);
  margin-block-end: 10px;
}

.add-toy-container input {
  padding: 0.9rem 1.5rem;
  border: 0;
  border-radius: 4px;
  background-color: var(--primary-sky-100);
  font-size: 1.1rem;
  color: var(--base-gray-700);
  border-radius: 100vw;
}

.add-toy-container input:focus {
  outline: 2px solid var(--primary-sky-500);
}

.add-toy-container input::placeholder {
  color: var(--base-gray-400);
  font-size: 0.95rem;
}

.add-toy-container textarea {
  width: 100%;
  padding: 0.6rem;
  font-size: 1rem;
  color: gray;
  border: 0;
  border-radius: 4px;
  background-color: var(--primary-sky-100);
}

.add-toy-container textarea:focus {
  outline: 2px solid var(--primary-sky-500);
}

.add-toy-container textarea::placeholder {
  color: var(--base-gray-400);
  font-size: 0.95rem;
}

.add-toy-container button {
  width: 100%;
  padding: 1.1rem 0;
  border: 0;
  border-radius: 100vw;
  background-color: var(--primary-sky-600);
  font-size: 1.2rem;
  color: var(--primary-sky-50);
  cursor: pointer;
  /* margin-block-start: 1rem; */
}

.add-toy-container button:hover {
  background-color: var(--primary-sky-500);
}
