.details-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: min(100vw, 1200px);
  color: var(--primary-sky-50);
  gap: 3rem;
  margin-block: 200px;
  margin-inline: auto;
  color: var(--base-gray-300);
  padding-inline: 8px;
}

@media (max-width: 768px) {
  .details-container {
    grid-template-columns: 1fr;
    margin-block: 120px;
  }
}

.details-container .img-galary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.details-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details-container .details {
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.details-container h4 {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--base-gray-50);
}

.details-container .seller {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.details-container .rating {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  color: var(--base-gray-50);
}

.toy-details-btns {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.toy-details-btns > button {
  padding: 1.2rem 1.5rem;
  background-color: var(--primary-sky-600);
  color: var(--primary-sky-50);
  border: 0;
  border-radius: 100vw;
  cursor: pointer;
}

.toy-details-btns > button:hover {
  background-color: var(--primary-sky-500);
}
