.product-card {
  border-radius: 15px;
  color: var(--base-gray-50);
  overflow: hidden;
  box-shadow: 2px 2px 0px var(--deep-white-100);
}

.product-card-img-wrapper {
  position: relative;
  height: 230px;
}

.product-card-img {
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: transform 300ms;
  object-fit: cover;
  overflow: hidden;
}

.product-card-img:hover {
  transform: scale(1.1);
}

.product-card-content {
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.product-card-bg-img {
  position: absolute;
  z-index: -1;
  /* width: 100%;
  height: 100%; */
  transform: scale(1);
  inset: 0;
  object-fit: cover;
  transition: transform 300ms;
}

.product-card-content:hover .product-card-bg-img {
  transform: scale(1.1);
}

.product-card-content-layer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 12px;
  padding: 1.5rem 1rem;
  border-top: 1px solid rgb(255 255 255 / 0.4);
  background-color: rgb(0 0 0 / 0.6);
  opacity: 1;
}

.product-card-content-layer hr {
  border-top: 1px solid rgb(255 255 255 / 0.4);
  border-bottom: 0;
}

.product-card-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-card-info-top,
.product-card-info-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}

.product-card-info-bottom {
  color: var(--base-gray-200);
}

.product-card-title {
  font-size: 1.3rem;
  font-weight: 400;
}

.product-card-price {
  font-size: 1.1rem;
  background-color: var(--primary-sky-600);
}

.product-card-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.product-card-btns > button {
  height: max-content;
  cursor: pointer;
}

.product-card-btns > button:is(:nth-child(1), :nth-child(2)) {
  border: 0;
  border-radius: 100vw;
  font-size: 0.9rem;
  color: var(--base-gray-50);
  box-shadow: -3px 3px 0 var(--primary-sky-300);
  padding-inline: 1rem;
  padding-block: 0.8rem;
}

.product-card-btns button:nth-child(1) {
  background-color: var(--primary-sky-500);
  transition: background-color 100ms linear;
}
.product-card-btns button:nth-child(2) {
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  transition: border-color 100ms linear;
}
.product-card-btns > button:nth-child(1):hover {
  background-color: var(--primary-sky-400);
}
.product-card-btns > button:nth-child(2):hover {
  border-color: var(--primary-sky-300);
}

.product-card-favorite,
.product-card-cart-btn {
  width: 45px;
  height: 45px;
  padding: 6px;
  border: 0;
  border-radius: 50%;
  background-color: transparent;
  color: var(--primary-sky-400);
  transition: background-color 100ms linear;
  cursor: pointer;
}

.product-card-favorite {
  position: absolute;
  top: 10px;
  right: 10px;
}

:is(.product-card-cart-btn, .product-card-favorite):hover {
  background-color: rgb(56 191 248 / 0.2);
}
