.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  border: 1px solid #fff;
}

/* -----------------------------
 hero image slider styles starts
 ------------------------------- */

.hero-container,
.hero-scene {
  width: 100vw;
  height: 100vh;
}

.hero-scene {
  perspective: 600px;
  position: relative;
}
.hero-slider,
.hero-slider-2 {
  position: absolute;
  width: 100vw;
  height: 600px;
  transform-style: preserve-3d;
  overflow: hidden;
}

.hero-slider {
  transform: rotateY(-60deg);
  transform-origin: right;
}

.hero-slider-2 {
  transform: rotateY(60deg);
  transform-origin: left;
}

.hero-slider div,
.hero-slider-2 div {
  position: absolute;
  width: 800px;
  height: 600px;
  padding: 1rem;
}

.hero-slider div {
  left: -800px;
  perspective: 600px;
}
.hero-slider-2 div {
  right: -800px;
}

.hero-slider img {
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.hero-slider img,
.hero-slider-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
/* -----------------------------
 hero image slider styles ends
 ------------------------------- */
