.category-container {
  margin-bottom: 120px;
}

.category-container .card {
  padding: 0.5rem;
  border: 1px solid #034e849d;
  border-radius: 4px;
}

.category-container img {
  width: 100%;
  height: 200px;
  display: block;
  border-radius: 4px;
  object-fit: cover;
}

.category-container .name-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.6rem 0;
}

.category-container .ratings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.category-container h4 {
  font-weight: 500;
  font-size: 1.1rem;
}

.category-container p {
  color: gray;
  font-size: 14px;
}

.category-container .btn-primary {
  border: 1px solid #034e849d;
  color: #034e849d;
}

.category-container .btn-primary:hover {
  background: #034e849d;
  color: #fff;
}

.category-container .grid {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
}

.category-container .category-title {
  font-size: 2.5rem;
  color: #034f84;
  width: min-content;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.category-container .star {
  display: inline;
  margin-right: 2px;
  color: rgb(233, 142, 22);
}
