.signin-container {
  max-inline-size: 400px;
  padding: 2rem 1.5rem;
  border-radius: 4px;
  background-color: var(--primary-sky-900);
  color: var(--primary-sky-50);
  box-shadow: 0 0 1px 1px var(--primary-sky-700);
  margin-inline: auto;
  margin-block: 200px 150px;
}

@media (max-width: 768px) {
  .signin-container {
    margin-block: 100px 80px;
  }
}

.signin > * + * {
  margin-block-start: 2rem;
}

.signin .control {
  display: flex;
  flex-direction: column;
}

.signin label {
  font-size: 1.1rem;
  color: var(--primary-sky-100);
  margin-block: 0 10px;
}

.signin input {
  flex-grow: 1;
  padding: 0.9rem 1.5rem;
  border: 0;
  border-radius: 4px;
  background-color: var(--primary-sky-100);
  font-size: 1.1rem;
  color: var(--base-gray-700);
  border-radius: 100vw;
}

.signin input:focus {
  outline: 2px solid var(--primary-sky-500);
}

.signin input::placeholder {
  color: var(--base-gray-400);
  font-size: 0.95rem;
}

.signin .signin_show_password {
  margin-block-start: 1rem;
  font-size: 0.9rem;
}

.signin .signin_show_password input {
  width: 1rem;
  height: 1rem;
  margin-inline-end: 4px;
}

.signin .auth-btn {
  width: 100%;
  padding: 0.8rem 0;
  border: 0;
  border-radius: 100vw;
  background-color: var(--primary-sky-600);
  font-size: 1.2rem;
  color: var(--primary-sky-50);
  cursor: pointer;
  margin-block-start: 1rem;
}

.signin .auth-btn:hover {
  background-color: var(--primary-sky-500);
}

.account {
  color: var(--base-gray-300);
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
}

.account .acc {
  color: var(--primary-sky-400);
  text-decoration: underline;
}

.google-btn {
  width: 100% !important;
  font-size: 1.2rem !important;
}

.signin-container .section-title {
  margin: 1.5rem 0;
  text-align: center;
}

.signin-container .loader {
  width: 19px;
  height: 19px;
  border-width: 3px;
  margin: 0 auto;
}

/* todo */
.tempo-credentials {
  border: 1px solid var(--primary-sky-600);
  padding: 1rem;
  background-color: var(--primary-sky-800);
}

.tempo-credentials > div > * + * {
  margin-block-start: 0.5rem;
}

.tempo-credentials span {
  display: inline-block;
  margin-inline-end: 2px;
}

.tempo-credentials > * + * {
  margin-block-start: 0.5rem;
}
