nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}
nav img {
  width: 50px;
  height: 50px;
  border-radius: 9999px;
  object-fit: cover;
}
nav h4 {
  font-weight: 500;
  font-size: 1.5rem;
  color: #034f84;
}
nav .logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

nav li {
  color: #000;
}

nav li:hover a {
  text-decoration: underline;
  color: blue;
}

nav .profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

nav .active {
  color: blue;
}
nav .pending {
  opacity: 0.5;
}

nav .bar {
  display: none;
}

@media (max-width: 768px) {
  nav .bar {
    display: block;
    background-color: transparent;
    border: none;
    font-size: 1.7rem;
    cursor: pointer;
  }
  nav ul {
    display: none;
  }

  nav li {
    color: #fff;
  }

  .open {
    display: block;
    background-color: #034e84c6;
    position: absolute;
    top: 70px;
    right: 10px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 4px;
  }
}
