.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transform: translateY(0);
  transition: transform 300ms ease-in;
}

@supports (backdrop-filter: blur(20px)) {
  .nav-container {
    background-color: unset;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.8rem;
  width: min(100vw, 1600px);
  margin-inline: auto;
}
nav img {
  width: 55px;
  height: 55px;
  border-radius: 9999px;
  object-fit: contain;
}
nav h4 {
  font-weight: 500;
  font-size: 1.5rem;
  color: #fff;
}
nav .logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

nav .btn-primary {
  font-size: 1.1rem;
  box-shadow: -2px 2px 0px #fff;
}

nav li {
  color: #fff;
}

nav li:hover a {
  color: #c4dfdf;
  text-decoration: underline;
}

nav .profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: contain;
}

nav .active {
  color: #c4dfdf;
  text-decoration: underline;
}
nav .pending {
  opacity: 0.5;
}

nav .bar {
  color: #fff;
  display: none;
}

@media (max-width: 768px) {
  nav .bar {
    display: block;
    background-color: transparent;
    border: none;
    font-size: 1.7rem;
    cursor: pointer;
  }
  nav ul {
    display: none;
  }

  nav li {
    color: #fff;
  }

  nav ul.open {
    display: block;
    position: fixed;
    top: 70px;
    right: 10px;
    background-color: rgba(2, 6, 23, 0.9);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
}
