.gallery-container {
  margin-bottom: 120px;
}
.gallery-container h2 {
  font-weight: 500;
  font-size: 2rem;
  width: min-content;
  margin: 0 auto;
  border-bottom: 2px dotted;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.gallery img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
