.new-collection-wrapper{
  width: 100vw;
  /* height: 100vh; */
  position: relative;
  isolation: isolate;
}

.new-collection-left-gradient,
.new-collection-right-gradient{
position: absolute;
width: 400px;
height: 400px;
border-radius: 50%;
background-color: var(--primary-sky-400);
filter: blur(200px);
opacity: 0.8;
}

.new-collection-left-gradient{
  bottom: 0;
  left: 0;
  transform: translate(-70%, 50%);
}
.new-collection-right-gradient{
  top: 0;
  right: 0;
  transform: translateX(70%);
}

.new-collection-container {
  width: min(95vw, 1500px);
  max-block-size: 600px;
  padding: clamp(1.5rem, 4.2vw, 5rem);
  border-radius: 2rem;
  margin-inline: auto;
  margin-block-start: 100px;
  background-color: #c4dfdf;
  position: relative;
  isolation: isolate;
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp(2rem, 6.7vw, 8rem);
  overflow: hidden;
  box-shadow: 0.8rem 0.8rem 0 #18c1c1;

  
}

.new-collection-container::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;

  background-color: #020617;
  width: 52%;
  height: 100%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}

.new-collection-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.new-collection-images-container {
  position: relative;
  isolation: isolate;
  transition: z-index 200ms;
}

.new-collection-images-container > img:first-child {
  transform: rotate(0deg);
  transition: transform 200ms;
}
.new-collection-images-container > img:last-child {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: rotate(4deg);
  opacity: 0.5;
  transition: opacity 200ms, transform 200ms;
}
.new-collection-images-container:hover > img:last-child {
  transform: rotate(0deg);
  opacity: 1;
  z-index: 2;
}
.new-collection-images-container:hover > img:first-child {
  transform: rotate(4deg);
}
.new-collection-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}
.new-collection-info-container > * {
  color:  var(--deep-white-100);
}
.new-collection-info-container > p {
  font-size: clamp(1.2rem, 1.3vw, 1.5rem);
}
.new-collection-info-container > h4 {
  font-size: clamp(2rem, 3vw, 3.5rem);
  line-height: 1.2;
  font-family: "Brice Bold";
}

.new-collection-info-container .btn-primary {
  width: fit-content;
  border: 1px solid  var(--deep-white-100);
  box-shadow: -4px 4px 0px  var(--deep-white-100);
}
.new-collection-info-container .btn-primary:hover {
  box-shadow: 0px 0px 0px  var(--deep-white-100);
}

@media (max-width: 768px) {
  .new-collection-container {
    max-block-size: unset;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0.5rem 0.5rem 0 #18c1c1;
  }

  .new-collection-container::after {
    top: unset;
    right: unset;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    border-bottom-left-radius: unset;
    border-top-left-radius: unset;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }

  .new-collection-container img {
    height: auto;
  }

  .new-collection-info-container {
    text-align: center;
  }

  .new-collection-info-container > p {
    font-size: clamp(1rem, 3.2vw, 1.5rem);
  }
  .new-collection-info-container > h4 {
    font-size: clamp(1.5rem, 6.3vw, 3rem);
  }

  .new-collection-info-container .btn-primary {
    margin-inline: auto;
  }
}
