.signup-container {
  padding: 2rem 1.5rem;
  border-radius: 4px;
  background-color: var(--primary-sky-900);
  color: var(--primary-sky-50);
  max-inline-size: 420px;
  box-shadow: 0 0 1px 1px var(--primary-sky-700);
  margin-inline: auto;
  margin-block: 150px;
}

@media (max-width: 768px) {
  .signup-container {
    margin-block: 100px 80px;
  }
}

.signup-container h2 {
  margin-bottom: 2rem;
  font-size: 3rem;
  text-align: center;
}

.signup > * + * {
  margin-top: 1.5rem;
}

.signup .control {
  display: flex;
  flex-direction: column;
}

.signup label {
  font-size: 1.1rem;
  color: var(--primary-sky-100);
  margin-block: 0 10px;
}

.signup input {
  flex-grow: 1;
  padding: 0.9rem 1.5rem;
  border: 0;
  border-radius: 4px;
  background-color: var(--primary-sky-100);
  font-size: 1.1rem;
  color: var(--base-gray-700);
  border-radius: 100vw;
}

.signup input::placeholder {
  color: var(--base-gray-400);
  font-size: 0.95rem;
}

.signup input:focus {
  outline: 2px solid var(--primary-sky-500);
}

.signup .signup_show_password {
  margin-block-start: 1rem;
  font-size: 0.9rem;
}

.signup .signup_show_password input {
  width: 1rem;
  height: 1rem;
  margin-inline-end: 4px;
}

.signup button {
  width: 100%;
  padding: 0.8rem 0;
  border: 0;
  border-radius: 100vw;
  background-color: var(--primary-sky-600);
  font-size: 1.2rem;
  color: var(--primary-sky-50);
  cursor: pointer;
  margin-block-start: 1rem;
}

.signup button:hover {
  background-color: var(--primary-sky-500);
}

.signup-container .section-title {
  margin: 1rem 0;
  text-align: center;
}

.signup-container .loader {
  width: 29px;
  height: 29px;
  margin: 0 auto;
  border-width: 4px;
}
