.toys-container {
  margin-block: 10rem;
  padding-inline: 0.8rem;
  width: 100vw;
  color: var(--base-gray-50);
}

.toys-top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-inline: clamp(0.8rem, 6.7vw, 8rem);
  margin-block-end: 2rem;
}

@media (max-width: 768px) {
  .toys-top-header {
    position: relative;
    padding-inline: 0.8rem;
  }
}

.toys-total-count {
  font-size: clamp(1.5rem, 1.7vw, 2rem);
}

.toys-total-count span {
  font-size: 0.9rem;
  color: var(--base-gray-300);
}

.toys-filter-sortby-wrapper {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .toys-filter-sortby-wrapper {
    gap: 1rem;
    font-size: 1rem;
  }
}

.toys-filter-sortby-wrapper svg {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.toys-sortby-wrapper .toys-sort-upper-chevron {
  display: none;
}

.toys-filter-sortby-wrapper button {
  background-color: transparent;
  border: 0;
}

.toys-filter-wrapper,
.toys-sortby-wrapper {
  position: relative;
  cursor: pointer;
}

.toys-sortby-options,
.toys-filter-options {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 999;
  width: max-content;
  border: 1px solid var(--base-gray-300);
  border-radius: 0.5rem;
  background-color: var(--base-gray-200);
  color: var(--base-gray-900);
  transform: translateY(-10px);
  transition: transform 200ms ease-out, opacity 200ms ease-out,
    visibility 200ms ease-out;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}

:is(.toys-filter-wrapper, .toys-sortby-wrapper) button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
:is(.toys-filter-wrapper, .toys-sortby-wrapper) span {
  color: var(--base-gray-300);
}

:is(.toys-filter-wrapper, .toys-sortby-wrapper) span:hover {
  color: var(--base-gray-50);
}

:is(.toys-filter-options, .toys-sortby-options) button {
  padding-block: 0.6rem;
  padding-inline: 2rem;
  width: 100%;
}
:is(.toys-filter-options, .toys-sortby-options) button:hover {
  background-color: var(--base-gray-50);
}

.toys-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  justify-content: center;
  gap: 1rem;
}
.toys-not-found-title {
  width: fit-content;
  margin: 0 auto;
  margin-block: 50px 30vh;
  font-size: 1.5rem;
  color: rgb(246, 75, 75);
}
