@font-face {
  font-family: "Brice regular";
  src: url("/fonts/Brice/Brice-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Brice Bold";
  src: url("/fonts/Brice/Brice-Bold.otf");
  font-weight: bold;
}

:root {
  --base-gray-50: #f9fafb;
  --base-gray-100: #f3f4f6;
  --base-gray-200: #e5e7eb;
  --base-gray-300: #d1d5db;
  --base-gray-400: #9ca3af;
  --base-gray-500: #6b7280;
  --base-gray-600: #4b5563;
  --base-gray-700: #374151;
  --base-gray-800: #1f2937;
  --base-gray-900: #111827;
  --base-gray-950: #030712;

  --primary-sky-50: #f0f9ff;
  --primary-sky-100: #e0f2fe;
  --primary-sky-200: #bae6fd;
  --primary-sky-300: #7dd3fc;
  --primary-sky-400: #38bdf8;
  --primary-sky-500: #0ea5e9;
  --primary-sky-600: #0284c7;
  --primary-sky-700: #0369a1;
  --primary-sky-800: #075985;
  --primary-sky-900: #0c4a6e;
  --primary-sky-950: #082f49;
}



/* reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  font-family: "Brice regular";
  color:var(--primary-sky-50);
  background-color: var(--primary-sky-950);
  transition: background-color 500ms;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
/* reset ends */

/* lenis recommended styles */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* lenis recommended styles end */

.btn-primary {
  display: inline-block;
  color: #fff;
  font-size: clamp(1.1rem, 1.2vw, 1.5rem);
  padding-block: clamp(0.5rem, 0.7vw, 0.7rem);
  padding-inline: 1.5rem;
  background-color: transparent;
  border: 1px solid #fff;
  box-shadow: -3px 3px 0px #fff;
  border-radius: 9999px;
  cursor: pointer;
  transition: box-shadow 100ms linear;
}

.btn-primary:hover {
  box-shadow: -0px 0px 0px #fff;
}

.loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid blue;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: 120px auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
