@font-face {
  font-family: "Brice regular";
  src: url("/fonts/Brice/Brice-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Brice Bold";
  src: url("/fonts/Brice/Brice-Bold.otf");
  font-weight: bold;
}

/* reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* line-height: 1.5; */
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  font-family: "Brice regular";
  background-color: #111827;
  color: #fff;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
/* reset ends */

/* lenis recommended styles */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* lenis recommended styles end */

.btn-primary {
  display: inline-block;
  color: #fff;
  font-size: clamp(1.1rem, 1.2vw, 1.5rem);
  padding-block: clamp(0.5rem, 0.7vw, 0.7rem);
  padding-inline: 1.5rem;
  background-color: transparent;
  border: 1px solid #fff;
  box-shadow: -3px 3px 0px #fff;
  border-radius: 9999px;
  cursor: pointer;
  transition: box-shadow 100ms linear;
}

.btn-primary:hover {
  box-shadow: -0px 0px 0px #fff;
}

.loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid blue;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: 120px auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
