.initial-loading-container {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: grid;
  place-items: center;
  background-color: var(--primary-sky-900);
  transform: translateY(0);
  transition: transform 300ms;
}

.initial-loading-container::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: var(--primary-sky-400);
  filter: blur(200px);
  opacity: 0.8;
}

.initial-loading-container > div {
  font-size: 4rem;
  font-size: 72px;
  /* background: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%); */
  background: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.initial-loading-container .initial-loader {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 6px solid #8EC5FC ;
  border-top: 6px solid #c18af5;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/* Safari */
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
