.my-toys-container {
  margin-block: 150px;
  margin-inline: auto;
  max-inline-size: 1400px;
  color: var(--primary-sky-50);
}

.my-toys-top-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 30px;
}

.my-toys-top-header div:first-child{
  font-size: clamp(1.5rem, 1.7vw, 2rem);
}

.my-toys-top-header div:first-child > span{
  font-size: 0.9rem;
  color: var(--base-gray-300);
}

.my-toys-container table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.my-toys-container th {
  text-align: left;
  padding-inline: 16px;
  padding-block: 24px;
}

.my-toys-container td {
  text-align: left;
  padding-inline: 20px;
  padding-block: 8px;
}

.my-toys-container tr:nth-child(even) {
  background-color: var(--primary-sky-900);
}

.my-toys-container tr:nth-child(odd) {
  background-color: var(--primary-sky-800);
}

.my-toys-container .toy-details-btn {
  border: 0;
  border-radius: 100vw;
  background-color: transparent;
  font-size: 0.95rem;
  color: var(--primary-sky-50);
  box-shadow: -3px 3px 0px var(--primary-sky-50);
  padding-inline: 1rem;
  padding-block: 0.6rem;
  cursor: pointer;
}

.my-toys-container .toy-details-btn:hover {
  color: var(--primary-sky-200);
}

.my-toys-container .edit-btn {
  font-size: 1.5rem;
  cursor: pointer;
}
.my-toys-container .edit-btn:hover {
  color: var(--primary-sky-50);
}
.my-toys-container .delete-btn {
  font-size: 1.5rem;
  color: #f43f5e;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.my-toys-container .delete-btn:hover {
  color: #e11d48;
}

.my-toys-container th {
  color: var(--primary-sky-50);
  background-color: var(--primary-sky-900);
}

.no-data {
  text-align: center;
  margin-block: 300px;
  color: #f43f5e;
}

.my-toys-container img {
  width: 80px;
  height: 50px;
  object-fit: cover;
  margin-inline-end: 10px;
  border-radius: 4px;
}
.my-toys-container .name-td {
  display: flex;
  align-items: center;
  gap: 3px;
}

/* .my-toys-container .sort-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
  margin-block-end: 15px;
}
.sort-container {
  font-size: 1.2rem;
}
.my-toys-container .sort {
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
} */
