.mySwiper img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

.feature-container .feature-title {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: #034f84;
}

@media (max-width: 768px) {
  .mySwiper img {
    height: auto;
  }
}
